<html>
<head>
  <title>Dataz</title>
</head>
<body>
 <a href="/stats">Stats</a>  
<h1>Here we are</h1>
<form action="/" method="POST">
  <label name="search">Look for</label>
  <input type="text" name="search" />
  <input type="submit" value="in the psyche of the lonely." />
</form>
<% if @display_results %>
  <%= erb :_results %>
<% end %>
</body>
</html>