!!!
%html
%head
  %script{:type=> "text/javascript", :src => "https://www.google.com/jsapi"}
  %link{:rel => "stylesheet", :type => "text/css", :href => "styles.css"}
  %title craigslust
%body
  %div.container
    %h1 craigslust 
    = yield