.container {
  max-width: 900px;
  margin: auto;
  margin-bottom: 100px;
  font-family: sans-serif;
  color: #303030;
}

img {
  float: left;
  margin-bottom: 30px;
}

label {
  font-size: 24px;
}

body {
  margin-top: 80px;
  background-color: #b0b0b0;
}

a {
  color: white;
}

h2 {
  clear: left;

}

p {
  margin-bottom: 50px;
}

.search {
  width: 800px;
  height: 120px;
  font-size: 32px;
  text-align: center;
  margin-top: 30px;
  font-weight: 800;
  border: 10px solid black;
  color: #303030;
}

.button {
  width: 400px;
  height: 60px;
  font-size: 24px;
  text-align: center;
  margin: 30px auto;
  font-weight: 400;
  border: 5px solid black;
  background: #b0b0b0;
}

.nouns {
  width: 400px;
  font-size: 24px;
  float:left;
  margin-bottom: 30px;
  text-align: center;
}

li {
  list-style: none;
}